.small-avatar {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-top: 18px;
}

.round-avatar {
    border-radius: 50%;
}

.large-avatar {
	height: 70px;
    width: 70px;
}

html {
	box-sizing: content-box;
}

#space-right {
	margin-right: 20px;
}

@media screen and (max-width: 1000px) {
	a {
		margin-bottom: 20px;
	}
}