.custom-card {
    width: 350px;
    margin: 25px;
    text-align: center;
    box-shadow: 0 0 5px 1px grey;
}

.text-field {
	max-width: 35px;
	margin: 10px;
}

.button {
	width: 40%;
	padding: 0;
	margin-left: 10px;
}

.carousel {
	height: 500px;
}

.p-style {
	color: #7D7D7D;
	margin-bottom: 10px;
}

.modal-width {
	width: 70%;
}