.custom-card {
    width: 40%;
    min-width: 300px;
    margin: 10px;
    text-align: center;
}

.text-field {
	max-width: 35px;
	margin: 10px;
}

.button {
	width: 40%;
	padding: 0;
	margin-left: 10px;
}